*,*::before, *::after{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}
html{
    font-size: max(1vw, 0.7rem);
}
:root{
    --primary-color: #3f7;
    --second-color: #053;
    --third-color: #021;
    --text-color: #ddd;
    --basic-padding: 10px 15px;
}
body{
    background: var(--third-color);
    display: flex;
    height: 100dvh;
    color: var(--text-color);
}
@media (max-width: 850px){
    body{
        flex-direction: column;
    }
    .code-side{
        width: 100%;   
    }
    .graph-side{
        order: -1;
        width: 100%;    
    }
}