*,*::before, *::after{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}
html{
    font-size: max(1vw, 0.7rem);
}
:root{
    --primary-color: #3f7;
    --second-color: #222;
    --third-color: #2f2f2f;
    
    --text-area-color: #333;
    --graph-side-color: #222;
    
    --basic-padding: 10px 15px;
    --text-color: #ddd;
}
body{
    background: var(--third-color);
    display: flex;
    height: 100dvh;
    color: var(--text-color);
}
.basic-button{
    box-shadow: 0 0 5px 0 var(--primary-color);
    border: var(--primary-color) 2px solid;
    padding: var(--basic-padding);
    color: var(--primary-color);
    background: transparent;
    align-items: center;
    cursor: pointer;
    display: flex;
    background: var(--third-color);
}
@media (max-width: 1000px){
    body{
        flex-direction: column;
        height: auto;
    }
    .code-side{
        width: 100%;   
    }
    .graph-side{
        order: -1;
        width: 100%;    
    }
    .control-enter{
        display: none;
    }
}